body {
  font-family: "Helvetica";
  margin: 0;
  padding: 0;
  top: 0;
}

.head {
  background-image: url('../img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #FAFAFA;
}

.nav {
  margin: 0;
  background: rgba(106, 27, 154, .8);
  color: #F5F5F5;
  padding: 10px;
  display: flex;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  flex: 4 1 25%;
  text-align: left;
}

.nav__item {
  text-decoration: none;
  color: #F5F5F5;
}

.nav__item:hover {
  text-decoration: none;
  color: #E040FB;
}

.head__logo {
  height: 20px;
  width: auto;
}

.head__title-container {
  width: 450px;
  margin: 0 auto;
  border-bottom: 1px solid #F5F5F5 ;
}

.head__title {
  font-size: 48px;
  padding-top: 30vh;
  font-weight: 100;
  margin-bottom: 15px;
}

.head__tagline {
  font-weight:100;
}

.section {
  min-height: 300px;
  padding: 20px 40px;
}

.about {
  background: #AA00FF;
  color: #fff;
  height: 400px;
}

.about__content {
  display: flex;
}

.about__img-container {
  flex: 40;
}

.about__img {
  width: 400px;
}

.about__text {
  margin-top: -16px;
  flex: 60;
}

.skills {
  color: #4A148C;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
}

.skills__list li {
  flex: 20%;
  list-style-type: none;
  margin-bottom: 25px;;
}

li img {
  height: 100px;
}

.contact {
  background: #AA00FF;
  color: #fff;
  padding: 30px;
}

.contact h2 {
  font-size: 36px;
  line-height: 5px;
}

.contact p {
  font-size: 18px;
}

.contact__content {
  display: flex;
}

.contact__item {
  padding: 15px;
  flex: 20;
}

.contact__item img {
  height: 75px;
}

.footer {
  color: white;
  padding: 15px;
  background: #00BFA5;
}
