body {
  font-family: "Helvetica";
  margin: 0;
  margin-top: -21px;
  padding: 0;
  top: 0;
}

.head {
  width: 100%;
  text-align: center;
  background: #9C27B0;
  color: #FAFAFA;
  padding: 20px 0 5px 20px;
}

.head__logo {
  height: 60px;
  width: auto;
  float: left;
  padding: 11px 5px 0 20px;
}

.head__title {
  font-weight: 100;
}

.nav {
  margin: 0;
  background: #6A1B9A;
  color: #F5F5F5;
  padding: 15px;
  display: flex;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  flex: 3 1 30%;
  text-align: center;
}

.nav__item {
  text-decoration: none;
  color: #F5F5F5;
}

.nav__item:hover {
  text-decoration: none;
  color: #E040FB;
}
